@font-face {
    font-family: 'SF Pro Text';
    src: url('../fonts/sf-pro-text-regular-webfont.woff2') format('woff2'),
         url('../fonts/sf-pro-text-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body, html{
    margin: 0;
    font-family: "SF Pro Text";
    background-color: #e5e5e5;
}

.full{
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
}
#loginBox{
    position: relative;
    width: 515px;
    background-color: #FFFFFF;
    border: 3px solid #F2F2F2;
    box-sizing: border-box;
    margin: 80px auto 0;
    padding: 60px 67px 48px;
    &.successBox{
        margin-top: 86px;
    }
    .loginHead{
        img.logo {
            display: block;
            margin: 0 auto;
            width: 87.34px;
            height: 35px;
        }
    }
    .loginMain{
        .title{
            display: block;
            text-align: center;
            color: #312f4f;
            font-size: 22px;
            line-height: 22px;
            margin: 28px 0 0;
        }
        .subtitle{
            font-size: 16px;
            line-height: 26px;
            text-align: center;
            color: #312f4f;
            margin: 21px 63px 36px;
            display: block;
        }
        #loginForm{
            input{
                width: 374px;
                height: 42px;
                background-color: #FFFFFF;
                border: 1px solid #B6B9D0;
                box-sizing: border-box;
                box-shadow: inset 0px 3px 3px rgba(0, 0, 0, 0.05);
                font-family: "SoleilW01-Regular";
                font-size: 16px;
                line-height: 42px;
                color: #312F4F;
                padding: 0 15px;
                &.filled {
                    border-color: #17D499;
                }
                &.error {
                    border-color: #F79682;
                }
                &:focus {
                    outline: none;
                }
            }
            label{
                margin: 24px 0 8px;
                display: block;
                position: relative;
                font-size: 16px;
                line-height: 16px;
                color: #696D8C;
            }
            #requiredBar{
                display: block;
                height: 8px;
                position: relative;
                margin: 8px 0 16px;
                &>div {
                    width: 119.67px;
                    height: 8px;
                    background-color: #EAEAF4;
                    display: inline-block;
                    border-radius: 8px;
                    margin-left: 7.7px;
                    float: left;
                    &:first-child{
                        margin-left: 0;
                    }
                }
                &.oneCondition > div {
                    &:first-child{
                        background-color: #F79682;
                    }
                }
                &.twoCondition > div{
                    background-color: #F7BC1C;
                    &:last-child{
                        background-color: #EAEAF4;
                    }
                }
                &.threeCondition > div{
                    background-color: #1FE6A8;
                }
            }
            #requiredList{
                display: block;
                position: relative;
                font-size: 16px;
                line-height: 13px;
                color: #696D8C;
                padding: 0 0 0 8px;
                list-style: none;
                li{
                    margin-bottom: 13px;
                    &:before{
                        content: "";
                        margin-left: 0;
                        position: relative;
                        display: block;
                        float: left;
                        width: 10px;
                        height: 10px;
                        background-color: #EAEAF4;
                        left: -8px;
                        top: 1px;
                        border-radius: 8px;
                    }
                    &.filled:before {
                        background-color: #1FE6A8;
                    }
                    &.error:before {
                        background-color: #F79682;
                    }
                }
            }
            #loginButton{
                background-color: #17d499;
                color: #ffffff;
                width: 374px;
                height: 52px;
                line-height: 52px;
                text-align: center;
                font-size: 16px;
                margin: 32px 0 0;
                padding: 0;
                border: unset;
                font-family: "SF Pro Text";
                &:disabled {
                    cursor: not-allowed;
                }
            }
        }
        #successBox{
            .checkImg {
                margin: 92px auto 0;
                display: block;
            }
        }
    }
    .spinner {
        margin: 32px 0 0;
        width: 374px;
        height: 52px;
        text-align: center;
        background-color: #17d499;
        &> div {
            margin: 21px 0;
            width: 10px;
            height: 10px;
            background-color: #fff;
            border-radius: 100%;
            display: inline-block;
            -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
            animation: sk-bouncedelay 1.4s infinite ease-in-out both;
        }
        .bounce1 {
            -webkit-animation-delay: -0.32s;
            animation-delay: -0.32s;
        }
        .bounce2 {
            -webkit-animation-delay: -0.16s;
            animation-delay: -0.16s;
        }
    }
    
    @-webkit-keyframes sk-bouncedelay {
        0%, 80%, 100% { 
            -webkit-transform: scale(0) 
        }
        40% { 
            -webkit-transform: scale(1.0) 
        }
    }
    
    @keyframes sk-bouncedelay {
        0%, 80%, 100% { 
            -webkit-transform: scale(0);
            transform: scale(0);
        } 40% { 
            -webkit-transform: scale(1.0);
            transform: scale(1.0);
        }
    }
}