body, html {
  margin: 0;
  font-family: "SF Pro Text";
}

.full {
  background-color: #e5e5e5;
  width: 100%;
  height: 100%;
  position: absolute;
  display: block;
}

.loginBox {
  position: relative;
  width: 515px;
  background-color: #FFFFFF;
  border: 3px solid #F2F2F2;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 60px 67px 48px;
  transform: translateY(-50%);
  top: 50%;
}

.loginBox .loginHead img.logo {
  display: block;
  margin: 0 auto;
  width: 87.34px;
  height: 35px;
}

.loginBox .loginMain .title {
  display: block;
  text-align: center;
  color: #312f4f;
  font-size: 22px;
  line-height: 22px;
  margin: 28px 0 0;
}

.loginBox .loginMain .subtitle {
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #312f4f;
  margin: 21px 63px 36px;
  display: block;
}

.loginBox .loginMain #loginForm input {
  width: 374px;
  height: 42px;
  background-color: #FFFFFF;
  border: 1px solid #B6B9D0;
  box-sizing: border-box;
  box-shadow: inset 0px 3px 3px rgba(0, 0, 0, 0.05);
  font-family: "SoleilW01-Regular";
  font-size: 16px;
  line-height: 42px;
  color: #312F4F;
  padding: 0 15px;
}

.loginBox .loginMain #loginForm input.filled {
  border-color: #17D499;
}

.loginBox .loginMain #loginForm input.error {
  border-color: #F79682;
}

.loginBox .loginMain #loginForm input:focus {
  outline: none;
}

.loginBox .loginMain #loginForm label {
  margin: 24px 0 8px;
  display: block;
  position: relative;
  font-size: 16px;
  line-height: 16px;
  color: #696D8C;
}

.loginBox .loginMain #loginForm #requiredBar {
  display: block;
  height: 8px;
  position: relative;
  margin: 8px 0 16px;
}

.loginBox .loginMain #loginForm #requiredBar > div {
  width: 119.67px;
  height: 8px;
  background-color: #EAEAF4;
  display: inline-block;
  border-radius: 8px;
  margin-left: 7.7px;
  float: left;
}

.loginBox .loginMain #loginForm #requiredBar > div:first-child {
  margin-left: 0;
}

.loginBox .loginMain #loginForm #requiredBar.oneCondition > div:first-child {
  background-color: #F79682;
}

.loginBox .loginMain #loginForm #requiredBar.twoCondition > div {
  background-color: #F7BC1C;
}

.loginBox .loginMain #loginForm #requiredBar.twoCondition > div:last-child {
  background-color: #EAEAF4;
}

.loginBox .loginMain #loginForm #requiredBar.threeCondition > div {
  background-color: #1FE6A8;
}

.loginBox .loginMain #loginForm #requiredList {
  display: block;
  position: relative;
  font-size: 16px;
  line-height: 13px;
  color: #696D8C;
  padding: 0 0 0 8px;
  list-style: none;
}

.loginBox .loginMain #loginForm #requiredList li {
  margin-bottom: 13px;
}

.loginBox .loginMain #loginForm #requiredList li:before {
  content: "";
  margin-left: 0;
  position: relative;
  display: block;
  float: left;
  width: 10px;
  height: 10px;
  background-color: #EAEAF4;
  left: -8px;
  top: 1px;
  border-radius: 8px;
}

.loginBox .loginMain #loginForm #requiredList li.filled:before {
  background-color: #1FE6A8;
}

.loginBox .loginMain #loginForm #requiredList li.error:before {
  background-color: #F79682;
}

.loginBox .loginMain #loginForm #loginButton {
  background-color: #17d499;
  color: #ffffff;
  width: 374px;
  height: 52px;
  line-height: 52px;
  text-align: center;
  font-size: 16px;
  margin: 32px 0 0;
  padding: 0;
  border: unset;
  font-family: "SF Pro Text";
}

.loginBox .loginMain #successBox .checkImg {
  margin: 92px auto 0;
  display: block;
}

.loginBox .spinner {
  margin: 32px 0 0;
  width: 374px;
  height: 52px;
  text-align: center;
  background-color: #17d499;
}

.loginBox .spinner > div {
  margin: 21px 0;
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.loginBox .spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.loginBox .spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
